<body class=strana>
<h4 class="ui center aligned medium icon header">
  <i class="circular orange chat icon"></i>
 Dopisivanje počinje sada ! ! !
</h4>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content" id="poruke">
        <div class="ui feed" id="polje-za-poruke">
        <!-- partial moguc... -->
          <% @porukas.each do |poruka| %>
            <div class="event">
              <div class="content">
                <div class="summary">
                  <em><%= poruka.user.username %></em>: <%= poruka.body %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="extra content">
         <%= form_for(@poruka, html: {class: "ui reply form", role: "form"}, url: message_path, remote: true) do |f| %>
          <div class="field">
            <div class="ui fluid icon input">
              <%= f.text_field :body %>
              <%= f.button '<i class="bordered inverted orange edit icon"></i>'.html_safe %>
            </div>
          </div>
          <% end %>
      </div>
    </div>
  </div>
  

  <div class="four wide column">
  <h1 class='online-users naslov'>Online korisnici</h1>
      <ul class="online-users">
        <%= render partial: "online", collection: User.online, as: :user %>
      </ul>
  </div>
</body>

<script>
         if ($('#poruke').length > 0) {
    $('#poruke').scrollTop($('#poruke')[0].scrollHeight);
  }

    $('#poruka_body').on('keydown', function(e) {
    if (e.keyCode == 13) {
      $('button').click();
      e.target.value = "";
    };
  });
</script>
